body{
    background-color: #3b4414;
    color: #000000;
    font-family: Arial, sans-serif;
    margin: 0;
}
header{
    background-color:#748529;
    color: #d9e9bb;
    text-align: center;
    padding: 30px;

}

h1{
    font-size: 36px;
}
h2{ 
    color:#2e6600;
}
p { 
    font-size: 18px;
    line-height: 1.6;
}
nav {
    margin-top: 20px;
}
nav a {
    color: white;
    text-decoration: none;
    background-color: #394924;
    padding: 10px 15px;
    border-radius: 8px;
    margin: 5px;
    display: inline-block;
}
nav a:hover {
    background-color: #aabe8b;
}
main {
    width: 80%;
    margin: auto;
}

section {
    background-color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 12px;
}

img {
    width: 100%;
    max-width: 600px;
    display: block;
    margin: auto;
    border-radius: 12px;
}

figcaption {
    text-align: center;
    font-size: 14px;
    color: #555555;
    margin-top: 8px;
}
.card {
    background-color: #b3f1a1;
    padding: 15px;
    margin: 15px 0;
    border-left: 6px solid #528325;
    border-radius: 10px;
}
.card h3 {
    margin-top: 0;
}
footer {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 30px;
}
