body{
    background-color: #2A5800;
    color: #000000;
    font-family: Arial, sans-serif;
}
header{
    background-color:#e0dc54;
    color: #645a00;
    text-align: center;
    padding: 30px;

}

h1{
    font-size: 36px;
}
h2{ 
    color:#003266;
}
p { 
    font-size: 18px;
    line-height: 1.6;
}
main {
    width: 80%;
    margin: auto;
}

section {
    background-color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 12px;
}

img {
    width: 100%;
    max-width: 600px;
    display: block;
    margin: auto;
    border-radius: 12px;
}

figcaption {
    text-align: center;
    font-size: 14px;
    color: #555555;
    margin-top: 8px;
}

